.container {
  width: 100%;
  padding: 15px;
}

.list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;

  &.failed:empty:after {
    content: 'Нет задач на выполнение';
  }

  &.failed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
  }

  &.completed {
    position: relative;
    padding: 60px 0 0 0;

    &:empty:after {
      content: 'Нет выполненых задач';
    }

    &:before {
      content: '';
      width: 150px;
      height: 1px;
      background: #d8e5e0;

      position: absolute;
      top: 25px;
      left: calc(50% - 75px);
    }

    &:after {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 12px;
      color: #aaa;
    }
  }
}
